.admin-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.admin-sidebar {
  flex: 0 1 auto;
  background-color: rgb(32, 32, 32);
  width: 300px;
  display: flex;
}

.admin-links {
  display: flex;
  flex-direction: column;
}

.admin-content {
  flex: 1 1 auto;
  padding: 30px;
}

.admin-title {
  margin: 0 0 20px;
}

/* Table */
.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th, .admin-table td {
  border: 1px solid white;
  padding: 5px;
}

.admin-table-manage {
  border: none !important;
  display: flex;
  justify-content: center;
}

.admin-table-editing input {
  width: 100%;
}
