.navbar {
  flex: 0 1 auto;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto auto;

  height: 120px;
}

.navbar * {
  margin: 0;
  padding: 0;
}

.navbar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  justify-self: left;

  padding-left: 50px;
}

.navbar-right {
  justify-self: right;

  padding-right: 30px;
}

.navbar-home-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-title {
  font-size: 36px;
}

.navbar-links {
  margin: 10px 30px;
}

.navbar-links * {
  font-size: 32px;
  margin: 10px;
}

.navbar-logo {
  height: 4.5em;
}